<style>
    h1 {
        font-weight: bolder;
        color: blue;
        text-align: center;
        font-family: 'Trebuchet MS';
    }

    #image-preview-default-text{
        display: none;
        /* color: black; */
    }

    #file-preview {
        height: 100%;
        width:100%;
        display:none;
        margin-bottom:30px;
    }

    #preview-div{
        position: relative;
        /* align-self: center; */
        display: none;
        height: 40%;
        width: 50%;
        border: 2px solid red;
        /* align-items: center; */
        /* justify-content: center; */
        margin: auto;
    }

    img {
        width:100%;
        height:100%;
    }
    .img-div {
        margin: auto;
        width:25%;
        height:300px;
    }

</style>

<div class="card text-center my-3" style="font-family: 'Trebuchet MS'; width: 50%; margin: auto;">
    <h4 class="card-header"><i class="fas fa-pencil-alt prefix"></i>Add Toy</h4>
    <section class="feed-posts">
        <form id="toy-form" method="post" action="/toys/add-toy" enctype="multipart/form-data">
            <input class="my-3" style="width: 50%;" type="text" name="name" id="name" required
                placeholder="Enter Toy Name">
            <br>
            <textarea name="content" id="content" class="my-3" cols="30" rows="10" placeholder="Type here ..."
                required></textarea>
            <br>
            <input id="toy-file" type="file" name="toy-file" onchange="showPreview(event);">
            <div class="my-3" id="preview-div">
                <img id="file-preview">
            </div>
            <span id="image-preview-default-text"></span>
            <br>
            <div>
                <button class="btn btn-primary my-3" type="submit">Add</button>
            </div>
        </form>
        <script>
            function showPreview(event) {
                if (event.target.files.length > 0) {
                    const file = event.target.files[0];
                    console.log('file is ', file);
                    const ext = file.type.split("/")[1];
                    console.log('ext is ', ext);
                    let src = URL.createObjectURL(event.target.files[0]);
                    let preview = document.getElementById("file-preview");
                    let previewDiv = document.getElementById("preview-div");
                    let previewText = document.getElementById("image-preview-default-text");
                    preview.src = src;
                    if (ext === 'jpeg' || ext === 'png') {
                        previewDiv.style.display = "block";
                        previewText.innerHTML = "Image Preview";
                        previewText.style.color = "black";
                        previewText.style.display = "block";
                        preview.style.display = "block";
                    }
                    else {
                        previewDiv.style.display = null;
                        preview.style.display = null;
                        previewText.innerHTML = "Upload in png/jpg format only";
                        previewText.style.color = "red";
                        previewText.style.display = "block";
                        // file=null;
                    }
                }
                else {
                    previewText.style.display = null;
                    previewDiv.style.display = null;
                    preview.style.display = null;
                }
            }

            // const form = document.getElementById("toy-form");

            // form.addEventListener("submit", submitForm);

            // function submitForm(e) {
            //     e.preventDefault();
            //     const name = document.getElementById("name");
            //     const content = document.getElementById("content");
            //     const toyFile = document.getElementById("toy-file");
            //     const formData = new FormData();
            //     formData.append("name", name.value);
            //     formData.append("content",content.value);
            //     for (let i = 0; i < toyFile.files.length; i++) {
            //         formData.append("toyFile", toyFile.files[i]);
            //     }
            //     fetch("http://localhost:5000/toys/add-toy", {
            //         method: 'POST',
            //         body: formData,
            //         headers: {
            //             "Content-Type": "multipart/form-data"
            //         }
            //     })
            //         .then((res) => console.log(res))
            //         .catch((err) => ("Error occured", err));
            //}
        </script>
    </section>
</div>