<div class="card text-center my-3" style="font-family: 'Trebuchet MS'; width: 50%; margin: auto;">
    <h4 class="card-header"><i class="fas fa-pencil-alt prefix"></i>Search Toy</h4>
    <section class="feed-posts">

        <form id="search-toy-form" action="/api/v1/toys" method="post">
            <input class="my-3" style="width: 50%;" type="text" name="name" id="name" required
                placeholder="Enter Toy Name to be searched" style="height: 40px;" >

                <div>
                    <button class="btn btn-success my-3" type="submit">Search</button>
                </div>
            
        </form>
        
    </section>
</div>
