*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}

ul{
    list-style-type:none;
}
nav{
    color: aliceblue;
    background-color: #333333;
}